@font-face {
	font-family: 'nexa_boldregular';
	font-weight: bold;
	font-style: normal;
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot');
	src: url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff2') format('woff2'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.woff') format('woff'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.ttf') format('truetype'), url('../fonts/nexa_boldfree_macroman/Nexa_Free_Bold-webfont.svg#nexa_boldregular') format('svg');
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


:root {
    --background-color: #363dc2; /* This is just an example value */
}

body {
	--text-color: #fff;
	--background-color: var(--background-color);
	--background-color-2: #282faf;
	--background-color-3: #202692;
	--link-color: #03b9f1;
	--link-hover-color: #fff;
	font-family: 'Roboto Mono', monospace;
	font-weight: 500;
	color: #fff;
	color: var(--text-color);
	background-color: #363dc2;
	background-color: var(--background-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--background-color);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 10000;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 10px solid var(--background-color-2);
	border-left-color: var(--text-color);
	animation: loaderAnim 0.8s linear infinite forwards;
}

@keyframes loaderAnim {
	to {
		transform: rotate(360deg);
	}
}

main {
	position: relative;
	width: 100%;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: var(--link-color);
	outline: none;
}

a:hover,
a:focus {
	color: var(--link-hover-color);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Deco Shape */
.decoshape {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	fill: var(--background-color-3);
}

/* SVG Morph */
.morph-wrap {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}

.morph {
	position: relative;
	height: 100%;
	fill: var(--background-color-2);
	flex: none;
}

.content-wrap {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	pointer-events: none;
}

.content {
	position: relative;
	display: grid;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	min-height: 600px;
	z-index: 100;
	pointer-events: none;
	padding: 1.5em;
	grid-template-columns: 50% 50%; 
	grid-template-rows: auto auto 4em;
	grid-template-areas:	"header ..."
							"... decotitle"
							"demos decotitle";
}

.content--fixed a {
	pointer-events: auto;
}

.content--layout {
    display: grid;
    gap: 1rem; /* Spacing between grid items */
    grid-template-areas: 
        "image title"
        "image author"
        "image desc"
        "image link";
    grid-template-columns: 1fr 2fr; /* Example column sizes */
}


.content--related {
	text-align: center;
	align-content: center;
	justify-content: center;
	padding: 0 2em;
	min-height: 600px;
	height: 100vh;
	font-size: 0.85em;
}

.content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	opacity: 0.8;
	width: 300px;
	height: 300px;
	grid-area: image;
}

.content__title {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 5em;
	line-height: 100px;
	margin: 0;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
}

.content__title__last {
	grid-area: title;
	font-family: 'nexa_boldregular', sans-serif;
	letter-spacing: -0.025em;
	font-size: 5em;
	line-height: 100px;
	text-transform: lowercase;
	z-index: 10;
	cursor: default;
}

.content__author {
	grid-area: author;
	margin: 0;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	padding: 1em;
	text-align: right;
	z-index: 10;
	cursor: default;
}

.content__desc {
	grid-area: desc;
	margin: 0;
	z-index: 10;
	padding: 0 1em;
	cursor: default;
}

.content__img,
.content__title,
.content__author,
.content__desc {
	transition: transform 0.3s ease-out;
}

.content__link {
	pointer-events: auto;
	grid-area: link;
	align-self: end;
	justify-self: start;
	z-index: 10;
	padding: 0 1em 0.15em;
}

.content__info {
	grid-column: 1 / 3;
}

.content__related-item {
	padding: 1em;
	transition: color 0.3s;
}

.content__related-img {
	max-width: 100%;
	opacity: 0.8;
	transition: opacity 0.3s;
}

.content__related-item:hover .content__related-img,
.content__related-item:focus .content__related-img {
	opacity: 1;
}

.content__related-title {
	font-size: 1em;
	margin: 0;
	padding: 0.5em;
}

@media (max-width: 768px) {
    .content--layout {
        grid-template-areas:
            "image"
            "title"
            "author"
            "desc"
            "link";
        grid-template-columns: 1fr; /* Stack elements on smaller screens */
    }
}
/* Different layouts */

layout-2
.content--layout-2 {
	grid-template-areas:	"... title title title"
							"desc desc ... author"
							"link link ... author";
}

.content--layout-2 .content__img {
	grid-column: 3 / 5;
	grid-row: 1 / 3;
}

.content--layout-2 .content__desc {
	text-align: right;
}

.content--layout-2 .content__link {
	justify-self: end;
}

.content--layout-2 .content__author {
	justify-self: end;
	align-self: start;
}

/* layout-3 */
.content--layout-3 {
	grid-template-rows: 75px 75px 150px;
	grid-template-areas:	"... ... desc desc"
							"author title title title"
							"author ... link link";
}

.content--layout-3 .content__img {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
}

.content--layout-3 .content__desc {
	align-self: end;
}

/* layout-4 */

.content--layout-4 {
	grid-template-areas:	"title title title desc"
							"... author ... desc"
							"... author ... link";
}

.content--layout-4 .content__img {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}

.content--layout-4 .content__author {
	justify-self: start;
	align-self: start;
}

/* Header */
.codrops-header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	z-index: 100;
	grid-area: header;
	align-self: start;
	justify-self: start;
}

.codrops-header__title {
	font-size: 1em;
	padding: 0.75em 0;
	margin: 0;
	font-weight: 500;
}

/* Demos */
.demos {
	grid-area: demos;
	align-self: end;
}

.demo {
	display: inline-block;
	position: relative;
	font-size: 0.85em;
	margin: 0 0.25em 0.5em 0;
	padding: 1em;
}

.demo .decoshape {
	display: none;
}

.demo--current {
	color: var(--link-hover-color);
	border-color: currentColor;
}

.demo--current .decoshape {
	display: block;
	z-index: -1;
}

/* Deco elements */
.deco {
	pointer-events: none;
}

.deco--title {
	grid-area: decotitle;
	-webkit-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	text-align: right;
	align-self: end;
	justify-self: end;
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em 0 0;
    text-align: center;
    white-space: nowrap;
}

.codrops-icon {
	position: relative;
	display: inline-block;
	padding: 0.75em 0.75em 1em;
}

/* Demo themes */
.demo-2 {
	--background-color: #1d1b22;
	--background-color-2: #342560;
	--background-color-3: #553e9a;
	--text-color: #fff;
	--link-color: #f9ed8a;
	--link-hover-color: #fff;
}

.demo-3 {
	--background-color: #56cccf;
	--background-color-2: #41e0e4;
	--background-color-3: #1747c0;
	--text-color: #fff;
	--link-color: #fff;
	--link-hover-color: #17b1b5;
}

.demo-3 .morph {
	fill: none;
	stroke-width: 12px;
	stroke: #22bcc0;
}

@media screen and (max-width: 50em) {
	.content--fixed {
		height: auto;
		min-height: 0;
		display: block;
		z-index: 1000;
		position: absolute;
	}
	.codrops-header {
		align-items: center;
		flex-direction: column;
	}
	.deco--title {
		display: none;
	}
	.demos {
		text-align: center;
	}
}

@media screen and (max-width: 40em) {
	.content--layout {
		transform: scale3d(0.8,0.8,1);
	}
}

@media screen and (max-width: 36em) {
	.content--layout {
		transform: scale3d(0.7,0.7,1);
	}
}

@media screen and (max-width: 32em) {
	.content--layout {
		transform: scale3d(0.6,0.6,1);
	}
	.content__author,
	.content__desc,
	.content__link {
		font-size: 1.35em;
	}
}

@media screen and (max-width: 28em) {
	.content--layout {
		transform: scale3d(0.5,0.5,1);
	}
}

.sidebar {
    position: fixed;
    top: 0;
    right: -80%;
    width: 60%;
    transform: translateX(100%); 
    transition: transform 0.3s ease-in-out;
    height: 100vh;
    background-color: #f9ed8a;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;  /* z-index for the sidebar */
    overflow-y: auto;
}

.sidebar.open {
    transform: translateX(0); /* this will position the sidebar back to its original position */
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar__title {
    color: #000; /* black color */
    font-size: 24px;
    margin-top: 20px;
}

.sidebar__subtitle {
    color: #333; /* dark grey color */
    font-size: 20px;
    margin-top: 10px;
}

.sidebar__content {
    color: #555; /* light grey color */
    font-size: 16px;
    margin-top: 15px;
}


.centered-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
  }
  
  .centered-horizontal {
	margin-left: auto;
	margin-right: auto;
  }
  
  .horizontal-padding {
	padding-left: 1rem;  /* 4 * 0.25rem (assuming 1rem = 16px) */
	padding-right: 1rem;
  }

  .max-width-2xl {
	max-width: 42rem;
  }

  .title-sidebar {
    font-size: 20px; /* Adjust as needed */
    text-align: center;
    margin: 20px 0; /* Some spacing above and below the title */
	color: #000;
	
}

.max-width-2xl {
	max-width: 42rem;
  }

.content-on-top {
    position: relative; /* or absolute, fixed, or sticky */
    z-index: 2000;  /* z-index higher than the sidebar */
}


/* styles/Footer.css */

.footer {
    background-color: (--);
    color: #fff;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: #ddd;
}

.footer-copyright {
    text-align: center;
    font-size: 0.8em;
}



.hero {
    max-width: 2xl;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.back-icon {
    padding: 10px;
    font-size: 20px;
}

.back-icon a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}



.nice-button {
	background-color: white;
	color: #333;
	border: 2px solid #ccc;
	padding: 10px 20px;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  }

  /* Hover Effects */
  .nice-button:hover {
	background-color: #f1f1f1;
	color: #000;
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
  }



  @media screen and (max-width: 768px) {
    .content-wrap {
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    .content--fixed {
        grid-template-columns: 1fr; /* Adjust layout for smaller screens */
        padding: 1em;
    }

    .content--layout {
        grid-template-columns: 1fr; /* Adjust layout for smaller screens */
    }

    /* Adjust font sizes and element sizes as needed */
    .content__title, .content__title__last {
        font-size: 2.5em;
        line-height: 1.2;
    }

    .content__author, .content__desc, .content__link {
        font-size: 1em;
    }

    .codrops-header {
        flex-direction: column;
        align-items: center;
    }

    .deco--title, .demos {
        display: none; /* Hide or adjust elements not needed or not fitting on small screens */
    }
}


@media screen and (max-width: 480px) {
    /* Further adjustments for very small screens */
    .content__title, .content__title__last {
        font-size: 1.8em;
    }

    /* Additional responsive adjustments as needed */
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 75%;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100%;
    }
}

